<a href="https://colab.research.google.com/github/weihan444/ML-Hackathon/blob/main/ML_Hackathon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import required libraries

In [ ]:
import tensorflow as tf
from tensorflow import keras
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Data Preprocessing

In [ ]:
data_url = "https://raw.githubusercontent.com/weihan444/ML-Hackathon/main/ML%20Dataset.csv"
data = pd.read_csv(data_url, header=0)

data.head(5)

,Code,Age_Numerical,Gender,Marital,Marital_problems,Religion_binary,Religion_help,Med_or_not,Expenses,Monthly_expenses,...,DASS_stress_numerical,MSPSS_family,MSPSS_friends,MSPSS_significant_others,DASS_depression_binary,DASS_depression_severity,DASS_anxiety_binary,DASS_anxiety_severity,DASS_stress_binary,DASS_stress_severity
0,1,34,0,0,0,1,1,1,2,1,...,0,27.2,24.0,26.0,0,0,0,0,0,0
1,2,32,1,0,0,1,1,1,1,0,...,2,28.0,28.0,28.0,0,0,0,0,0,0
2,3,33,0,0,0,1,1,1,1,0,...,0,28.0,28.0,28.0,0,0,0,0,0,0
3,4,33,1,0,1,1,1,1,2,1,...,18,25.2,21.2,24.0,1,2,1,4,1,1
4,5,39,1,0,0,1,1,1,2,1,...,2,26.0,20.0,28.0,0,0,0,0,0,0

# Feature Engineering
Selecting data

In [ ]:
selected_data = data[["Age_Numerical", "Gender", "Routine_loss", "Class_hours", "Medical_illness", "Mental_illness", "COVID_symptoms", "Quarantine", "DASS_depression_severity"]]

selected_data.head(5)

,Age_Numerical,Gender,Routine_loss,Class_hours,Medical_illness,Mental_illness,COVID_symptoms,Quarantine,DASS_depression_severity
0,34,0,0,4.0,0,0,0,0,0
1,32,1,0,2.0,0,0,0,0,0
2,33,0,0,4.0,1,0,1,0,0
3,33,1,1,8.0,0,0,1,0,2
4,39,1,1,3.0,0,0,0,0,0